.error {
  color: darkred;
  font-style: italic;
}
.darkred {
  color: darkred;
  font-size: 12px;
}
.darkgreen {
  color: darkgreen;
  font-size: 12px;
}
.lightblue {
  color: #65657C;
}
.fixed {
  position: fixed;
  width: 100%;
  opacity: .95;
  z-index: 10;
}
.block {
  display: block;
}
.margin-top-0 {
  margin-top: 0;
}
.password-bar span .progress {
  background-color: transparent !important;
  margin-bottom: 0;
}
.password-bar span .password-verdict {
  color: #8A8A9E;
  font-size: 14px;
  font-weight: 600;
}
